<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 https://www.springframework.org/schema/aop/spring-context.xsd">
 
 <bean class="com.springcore.Student" name="student1">
 	<property name="studentId">
 	<value>12</value>                  <!-- value as element--> 
 	</property>
 	
 	<property name="studentName">
 	<value>Shifali</value>           
 	</property>
 	
 	<property name="studentAddress">
 	<value>Pune</value>
 	
 	</property>
 	
 </bean>	
 	<bean class="com.springcore.Student" name="student2">
 	<property name="studentId" value="1" />
 	                                          <!-- value as a attribute-->
 	
 	<property name="studentName" value="Shweta" />
 	
 	<property name="studentAddress" value="Pune"/>
 	
 </bean>	
  
 	<bean class="com.springcore.Student" name="student3" p:studentId="3" p:studentName="shivani" p:studentAddress="Wardha" />
 	<!-- value as a p schema -->
</beans>